
.tweet {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddf;
}

.tweet-pic-box {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.tweet-pic {
    width: 50px;
    height: 50px;
    background-color: #779;
    border-radius: 50%;
}

.tweet-pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: filter .3s;
}

.tweet-pic img:hover {
    filter: contrast(80%);
    cursor: pointer;
}

.tweet-header {
    display: flex;
    margin: 0;
}

.tweet-message {
    display: flex;
    margin: 0 10px;
}

.tweet-box-text {
    width: stretch;
}

.user-nick {
    margin: 0 10px;
}

.badge {
    width: 20px;
    height: auto;
}

.tweet .user-id {
    margin: 0;
    color: #779;
}

.tweet-reactions {
    display: flex;
    width: stretch;
    height: 30px;
    padding-top: 10px;
    justify-content: space-between;
}

.tweet-reaction-module {
    display: flex;
    width: 40px;
    margin-right: 50px;
    align-items: center;
    justify-content: space-between;
    color: #779;
}

.tweet-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.tweet-reaction-icon {
    font-size: 18px;
}

.tweet-reaction-module:hover{
    cursor: pointer;
}

.red, .gree, .blue {
    transition: background-color .3s;
}

.blue:hover p,
.blue:hover .tweet-reaction-icon {
    color: rgb(26, 136, 204);
}
.blue:hover .tweet-icon-box{
    background-color: rgba(232, 245, 254);
}

.green:hover p,
.green:hover .tweet-reaction-icon {
    color: rgb(26, 204, 106);
}

.green:hover .tweet-icon-box{
    background-color: rgb(232, 254, 237);
}

.red:hover p,
.red:hover .tweet-reaction-icon {
    color: rgb(204, 26, 64);
}

.red:hover .tweet-icon-box{
    background-color: rgb(254, 232, 239);
}