#main-menu {
  grid-area: main-menu;
  min-width: 100px;
}

#side-panel {
  grid-area: side-panel;
}

#feed {
  grid-area: feed;
  min-width: 300px;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main-menu feed side-panel";
}

@media(max-width: 960px){
  .App {
    grid-template-columns: 12vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-menu feed";
  }

  #side-panel {
    display: none;
  }

  #feed {
    margin-right: 10px;
  }
}

@media(min-width:961px) and (max-width: 1366px){
  .App {
    grid-template-columns: 12vw 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-menu feed side-panel";
  }

  #feed {
    margin-right: 10px;
  }
}